.headerImage {
  max-height: 831px;
  padding: 30px 0 0 0;
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.4) 0%,
      rgba(0, 0, 0, 0) 39.9%
    ),
    linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("./../../assets/headerBackground.png") center no-repeat;
  background-size: cover;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1168px;
  margin: 0 auto 0 auto;

  .logo {
    display: block;
  }
  .blackLogo {
    display: none;
  }
}

.fixed {
  position: fixed;
  width: 100%;
  z-index: 9999;
  top: 0;
  padding: 28px 0;
  margin: 0 auto 0 auto;
  background: rgba(243, 239, 232, 0.6);
  backdrop-filter: blur(54px);

  .logo {
    display: none;
  }

  .blackLogo {
    display: block;
  }

  .link {
    color: #1b1f2b;
    box-sizing: border-box;
    border-bottom: 1px solid transparent;
  }

  .headerPhone {
    color: #1b1f2b;
  }
}
.navbar {
  display: flex;
}

.link {
  box-sizing: border-box;
  margin: 0 25px;
  font-size: 20px;
  line-height: 142%;
  box-sizing: border-box;
  border-bottom: 1px solid transparent;

  &:first-child {
    margin: 0 25px 0 0;
  }

  &:last-child {
    margin: 0 0 0 25px;
  }
}

.headerPhone {
  color: #fff;
  font-size: 20px;
  line-height: 142%;
}

.headerTitleContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 743px;
}

.headerTitle {
  font-size: 96px;
  font-weight: bold;
  letter-spacing: 0.02em;
  max-width: 768px;
  text-align: center;
  line-height: 109%;
  color: #fff;
}

.headerText {
  margin: 50px 0 0 0;
  font-weight: normal;
  font-size: 20px;
  max-width: 562px;
  line-height: 142%;
  color: #fff;
  text-align: center;
}

.headerButton {
  background: #ffffff;
  margin: 50px 0 0 0;
  border-radius: 10px;
  border: 0px;
  font-size: 17px;
  line-height: 142%;
  color: #1b1f2b;
  letter-spacing: -0.01em;
  cursor: pointer;
  padding: 5px 20px;
}

@media screen and (max-width: 1200px) {
  .header {
    justify-content: space-around;
  }
}
@media screen and (max-width: 840px) {
  .navbar {
    display: none;
  }
  .headerTitle {
    font-size: 34px;
    line-height: 112%;
    letter-spacing: 0.02em;
  }
  .headerText {
    font-size: 16px;
    line-height: 142%;
  }
  .headerButton {
    font-size: 16px;
    line-height: 142%;
  }
  .headerPhone {
    font-size: 16px;
    line-height: 142%;
  }
  .logo {
    width: 133px;
  }
  .blackLogo {
    width: 133px;
  }
  .headerTitleContainer {
    height: 400px;
  }
}

@media screen and (min-width: 841px) {
  .link {
    &:hover {
      border-bottom: 1px solid #fff;
    }
  }

  .fixed {
    .link {
      &:hover {
        border-bottom: 1px solid #1b1f2b;
      }
    }
  }

  .headerButton {
    &:hover {
      background: #efa501;
    }
    &:active {
      background: #f8e6be;
    }
  }
}
