.feedback {
  max-width: 1170px;
  margin: 135px auto 0 auto;
}

.text {
  max-width: 418px;
  font-weight: normal;
  margin: 30px auto 0 auto;
  font-size: 20px;
  line-height: 142%;
  text-align: center;
  color: #a6a6a6;
}

.feedbackCards {
  margin: 100px 0 0 0;
  display: flex;
  width: 100%;
}

.card {
  flex-basis: 50%;
  max-width: 570px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 40px;
  margin: 0 30px 0 0;

  background: #f4f0e9;
  border-radius: 50px;

  min-height: 673px;

  &:last-child {
    margin: 0;
  }
}

.cardText {
  font-weight: bold;
  font-size: 23px;
  line-height: 122%;
}

.cardFooter {
  display: flex;
  margin: 70px 0 0 0;
  width: 100%;
  .footerText {
    flex-grow: 1;
    h3 {
      font-weight: 500;
      font-size: 35px;
      line-height: 122%;
      margin: 0 0 8px 0;
    }
    p {
      font-weight: normal;
      font-size: 17px;
      line-height: 142%;
      letter-spacing: -0.01em;
      color: #a6a6a6;
    }
  }
  img {
    width: 75px;
    border-radius: 100px;
  }
}

@media screen and (max-width: 1276px) {
  .feedback {
    margin: 135px 53px 0 53px;
  }
  .card {
    margin: 0 18px 0 0;
  }
}

@media screen and (max-width: 840px) {
  .feedback {
    margin: 75px 21px 0 21px;
  }
  .text {
    margin: 20px auto 0 auto;
    font-size: 16px;
  }
  .feedbackCards {
    margin: 50px 0 0 0;
    flex-direction: column;
    align-items: center;
  }
  .card {
    min-height: inherit;
    border-radius: 20px;
    padding: 20px;
    margin: 0 0 18px 0;
    &:last-child {
      margin: 0;
    }
  }

  .cardText {
    font-size: 16px;
  }
  .cardFooter {
    margin: 56px 0 0 0;
    .footerText {
      align-self: center;
      h3 {
        font-size: 23px;
        line-height: 120%;
        letter-spacing: 0.04em;
      }
      p {
        font-size: 16px;
        line-height: 142%;
        letter-spacing: -0.01em;
      }
    }
  }
}
