.photo {
  max-width: 1860px;
  margin: 135px auto 0 auto;
}

.text {
  max-width: 418px;
  font-weight: normal;
  margin: 30px auto 0 auto;
  font-size: 20px;
  line-height: 142%;
  text-align: center;
  color: #a6a6a6;
}

.gallery {
  margin: 85px 0 0 0;
  width: 100%;

  /* display: grid;
  grid-template-columns: repeat(auto-fit, 1fr);
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  grid-template-rows: repeat(3, 1fr); */

  /* grid-template-areas:
    "photo1 photo1 photo1 photo1 photo1 photo2 photo2 photo2 photo2 photo2 photo3 photo3 photo3 photo3 photo3 photo4 photo4 photo4 photo4 photo4"
    "photo5 photo5 photo5 photo5 photo6 photo6 photo6 photo6 photo7 photo7 photo7 photo7 photo8 photo8 photo8 photo8 photo9 photo9 photo9 photo9"
    "photo10 photo10 photo10 photo10 photo10 photo11 photo11 photo11 photo11 photo11 photo12 photo12 photo12 photo12 photo12 photo13 photo13 photo13 photo13 photo13"; */
  gap: 30px 30px;
}

.row {
  display: flex;
}

.galleryItem {
  margin: 15px;
  height: 300px;

  img {
    width: 100%;
    border-radius: 50px;
    height: 100%;
    object-fit: cover;
  }

  &:first-child {
    margin: 15px 15px 15px 0;
  }

  &:last-child {
    margin: 15px 0 15px 15px;
  }
}

@media screen and (max-width: 1900px) {
  .photo {
    margin: 135px 20px 0 20px;
  }
}
@media screen and (max-width: 1200px) {
  .galleryItem {
    margin: 15px 10px;

    &.desktopL {
      display: none;
    }

    &:first-child {
      margin: 15px 10px 15px 0;
    }

    &:last-child {
      margin: 15px 0 15px 10px;
    }
  }
}

@media screen and (max-width: 840px) {
  .photo {
    margin: 75px 21px 0 21px;
  }

  .text {
    font-size: 16px;
  }

  .gallery {
    margin: 35px 0 0 0;
  }

  .galleryItem {
    margin: 9px;
    height: auto;
    min-height: 110px;

    img {
      border-radius: 20px;
    }

    &.mobile {
      display: none;
    }

    &:first-child {
      margin: 9px 9px 9px 0;
    }

    &:last-child {
      margin: 9px 0 9px 9px;
    }
  }
}
